.d-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 3px;
}
.d-flex{
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-wrap: nowrap;
}
/*.block{*/
/*    padding: 0.5rem;*/
/*    border: black solid 1px;*/
/*}*/

.attention{color: #a20909;}
.attention:hover{color: red;}

.grid-container1{
    grid-template-areas:
            "contact educations"
            "zrg educations"
            "projects experience"
            "hard-skills experience"
            "soft-skills experience"
            "languages experience";
}
.contact{
    grid-area: contact;
    justify-content: center;
    padding: 0.2rem 0;
    flex-direction: row;
}
.contact div:nth-child(1){
    padding:0 0.3rem;
}
.cont-ico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo-image{
    width: 4.7rem;
    height: 4.7rem;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 0.1rem;
}

.logo-image:hover{border-color: #9f18bd;}

.photo {
    max-width: 100%; /* Максимальная ширина контейнера */
    margin: 0 4rem;
}
.responsive-image {
    width: 100%; /* Ширина изображения будет 100% от ширины контейнера */
    height: auto; /* Высота изменяется автоматически, чтобы сохранить пропорции */
    display: block; /* Убирает лишние отступы вокруг изображения */
}
.educations{
    grid-area: educations;
    padding: 0.3rem 0 0.3rem 0;
}
.educations p{
    padding: 0.3rem;
}
.educations a {
    padding: 0.25rem 0 0.25rem 1rem;
    display: inline-block;
}
.zrg{
    grid-area: zrg;
}
.zrg p{
    padding: 0.3rem 2rem 0 0;
}
.zrg h2 {
    text-align: center;
}
.zrg h3 {
    margin: 0.3rem;
    color: darkblue;
    text-align: center;
}
.experience{
    grid-area: experience;
    padding: 0.3rem 0 0.3rem 0;
}
.experience p{
    padding: 0.3rem;
}
.projects{
    grid-area: projects;
    padding: 0.3rem 0 0.3rem 0;
}
.projects ol{
    padding: 0 1.3rem 0 1.8rem;
}
.hard-skills{
    grid-area: hard-skills;
    padding: 0.3rem 0 0.3rem 0;
}
.hard-skills ul{
    list-style: none;
    padding: 0;
}
.hard-skills span{
    font-weight: bold;
    margin-right: 1rem;
}
.soft-skills{
    grid-area: soft-skills;
    padding: 0.3rem 0 0.3rem 0;
}
.soft-skills ul{
    list-style: none;
    padding: 0;
}
.soft-skills span{
    font-weight: bold;
    margin-right: 1rem;
}
.languages{
    grid-area: languages;
    padding: 0.3rem 0 0.3rem 0;
}
.grid-container2{
    grid-template-areas:
            "backend frontend"
            "others frontend";
}
.diplom{
    list-style-type: upper-roman;
}
.backend{
    grid-area: backend;
    padding: 0.3rem 0 0.3rem 0;
}
.backend ol{
    padding: 0 2rem;
}
.frontend{
    grid-area: frontend;
    padding: 0.3rem 0 0.3rem 0;
}
.frontend ol{
    padding: 0 2rem;
}
.others{
    grid-area: others;
    padding: 0.3rem 0 0.3rem 0;
}
.others ol{
    padding: 0 2rem;
}

@media(max-width:1020px) {
    .grid-container1,
    .grid-container2{
        font-size: 16px;
    }
    .logo-image{
        width: 3.7rem;
        height: 3.7rem;
    }
    .contact{
        flex-direction: column;
    }
    .photo {
        margin: 0 3.5rem;
    }
    .contact div:nth-child(2){
        padding: 0.2rem 0.4rem;
    }
}
@media(max-width:768px) {
    .grid-container1,
    .grid-container2{
        font-size: 20px;
    }
    .logo-image{
        width: 3.7rem;
        height: 3.7rem;
    }
    .contact{
        flex-wrap: wrap;
    }
    .contact div:nth-child(2){
        padding: 0.2rem 0.4rem;
    }
    body line{width:100%;}
}
@media(max-width:480px) {
    .grid-container1{
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "contact"
        "zrg"
        "projects"
        "educations"
        "languages"
        "experience"
        "hard-skills"
        "soft-skills";
    }
    .grid-container2 {
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "frontend"
        "backend"
        "others";
    }
    .contact{
        flex-wrap: wrap;
    }
    .contact div:nth-child(2){
        padding: 0.2rem 0.4rem;
    }
    .photo {
        margin: 0 4rem;
    }
    .cont-ico {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo-image{
        width: 3.2rem;
        height: 3.2rem;
    }
    .zrg p{
        padding: 0.3rem 0 0;
    }
    .zrg h3 {
        font-size: 1.35rem;
    }
    body line{width:100%;}
}